// Colores
$primary: #FFE600;
$secondary: #3483FA;
$white: #FFFFFF;
$gray-0: #EEEEEE;
$gray-1: #999999;
$gray-2: #666666;
$gray-3: #333333;

// Margenes
$small-margin: 16px;
$big-margin: 32px;

// Responsive
$phone-breakpoint: 480px;
$tablet-breakpoint: 1024px;